body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f7f4ff;
  height: 100vh;
}
.box-shadow {
  position: absolute;
  width: 421px;
  height: 613px;
  border-radius: 31px;
  background: #efebfd;
  z-index: -1;
}
.container {
  width: 640px;
  height: 464px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 14px 52px -20px #8675b4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 72px 72px 32px 72px;
  gap: 12px;
}

.search-box {
  display: flex;
  width: 348px;
  padding: 16px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid  #dbd5ec;
}

input::placeholder {
  color: rgba(40, 26, 81, 0.54);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

input {
  width: 211px;
  height: 24px;
  border: none;
}

input:focus {
  outline: none;
}
.map-link {
  display: inline-flex;
  padding: 16px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #281a51;
}

.map-link a {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.category-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0 72px 72px 72px;
}

.category-item {
  display: flex;
  width: calc(100% / 4 - 16px);
  height: 108px;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
}

.category-item a {
  color: #281a51;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.category-item:hover {
  border-radius: 8px;
  border: 1px solid #dbd5ec;
  background: #fff;
  box-shadow: 0px 14px 16px 0px rgba(41, 11, 128, 0.1);
}
